/* table {
    width: 100%;
  }
  
  .mat-column-cancel {
    flex: 0 0 10%;
  }
  
  .tableView {
    height: 400px;
    width: 350%;
    overflow: auto;
  }
  
  .mat-row:hover {
    background-color: rgb(236, 234, 234);
    cursor: pointer;
  } */