<mat-grid-list  rowHeight="1000px" cols="4" rowHeight="1:1">
  <!--TABELA REZERVACIJA-->

  <mat-grid-tile colspan="3" style="border: solid">
   
    <div style="margin-right: 55%; margin-top: -20%;">
      <h2>Weekend house reservations: </h2>  
      <table mat-table [dataSource]="weekendHouse.weekendHouseReservations" class="mat_table_reservation" style="width: 240%;">
        <ng-container matColumnDef="startDateTime">
            <mat-header-cell *matHeaderCellDef> Start Date and Time </mat-header-cell>
                <mat-cell *matCellDef="let element" >
                  <ng-container >{{element.startDateTime}}</ng-container>
                    </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="endDateTime">
            <mat-header-cell *matHeaderCellDef> End Date and Time </mat-header-cell>
                <mat-cell *matCellDef="let element" >
                  <ng-container >{{element.endDateTime}}</ng-container>
                    </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="customer">
            <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.customer.firstName}} {{ element.customer.lastName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="weekendHouse">
            <mat-header-cell *matHeaderCellDef> Weekend House </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.weekendHouse.name}}  </mat-cell>
          </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showUserInfo(row)"></mat-row>
      </table>

    </div>
  </mat-grid-tile >

  <!-- CUSTOMER INFO -->
  <mat-grid-tile style="border: solid;" colspan="1">
    <h1>Customer information:</h1>
    <div style="margin-top: -35%; margin-right: -20%; font-size: larger; position: static;">
      <!--
      <div class = customer_info>
          <h2>Customer informations</h2>
          <div class="infoDiv"><label><b>First name:</b>   {{weekendHouseReservation.customer.firstName}}</label></div>
          <div class="infoDiv"><label><b>Last name:</b>   {{weekendHouseReservation.customer.lastName}}</label></div>
          <div class="infoDiv"><label><b>Email:</b>   {{weekendHouseReservation.customer.email}}</label></div>
          <div class="infoDiv"><label><b>Country:</b>   {{weekendHouseReservation.customer.country}}</label></div>
          <div class="infoDiv"><label><b>Username:</b>   {{weekendHouseReservation.customer.username}}</label></div>
    </div> -->
  </div>
  </mat-grid-tile>


  <!-- REZERVISANJE WEEKEND HOUSE-A -->
  <mat-grid-tile colspan="1"  style="border: solid">
      <div class="reserve">
        <h1>Reserve now</h1>
        <form name="reserveform" #reserveForm="ngForm"> 

          <mat-form-field appearance="fill">
              <mat-label>Select date</mat-label>
              <mat-date-range-input [min]="minDate" [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date" (dateChange)="reserveWeekendHouse()">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>

              <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
              <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
          </mat-form-field>
          <!--
          <mat-form-field appearance="fill">
            <mat-label>Number of guests</mat-label>
            <input matInput type="number" name="peopleNumber" [(ngModel)]="weekendHouseReservation.peopleNumber" required>
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
    
          <div>
            <mat-label style="padding-top: 20px;" for="services">List of our services</mat-label>
            <mat-select name="services" [(ngModel)]="weekendHouseReservation.services" multiple>
              <mat-option checkboxPosition="before" *ngFor="let service of weekendHouse.additionalServices" [value]="service">
                  {{ service.name }} - {{ service.name }}
              </mat-option>
            </mat-select>  
        </div>
    
        <div><label><b>Total price:</b>   {{weekendHouseReservation.price}}</label></div>                
    
          <p style="margin-top: 70px;"><b>Before reserving, please check info you filled</b></p>
          <div>
            <button mat-raised-button color="accent" (click)="reserveWeekendHouse()" [disabled]="weekendHouse.id === 0 || range.value.start === null || range.value.end === null">Reserve</button>
          </div> -->
    
        </form>
      </div>
  </mat-grid-tile>


   <!-- SPECIAL OFFER INFO -->
   <mat-grid-tile style="border: solid;" colspan="2">
    <h1>Make Special Offer:</h1>
    <div style="margin-top: -35%; margin-right: -20%; font-size: larger; position: static;">
      
  </div>
  </mat-grid-tile>
  <!--SLOBODNI TERMINI-->
  <mat-grid-tile style="border: solid;" colspan="1">
    <h1>Add Available Terms:</h1>
  </mat-grid-tile>

  <!--IZMENA WEEKEND HOUSE-A-->
  <mat-grid-tile style="border: solid;" colspan="4">
    <div class="edit_weekend_house" style="margin-bottom: 15%; margin-top: 1  0%;" >
      <h1>Weekend House: "{{weekendHouse.name}}" informations</h1>
    <form  #editForm="ngForm">                       
      <mat-form-field appearance="fill" style="margin-right: 2%;">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="weekendHouse.name" required>
        <mat-hint *ngIf="weekendHouse.name == ''">Required</mat-hint>
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="fill" style="margin-right: 2%;">
          <mat-label>Address</mat-label>
          <input matInput type="text" name="address" [(ngModel)]="weekendHouse.address" required>
          <mat-hint *ngIf="weekendHouse.address == ''">Required</mat-hint>
        </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput type="text" name="description" [(ngModel)]="weekendHouse.description" required>
        <mat-hint *ngIf="weekendHouse.description == ''">Required</mat-hint>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
          <mat-label>Bed number</mat-label>
          <input matInput type="text" name="bedNumber" [(ngModel)]="weekendHouse.bedNumber" required>
        </mat-form-field>
    
        <mat-form-field appearance="fill" style="margin-right: 2%;">
          <mat-label>Rules</mat-label>
          <textarea required matInput  name="rules" placeholder="Rules" [(ngModel)]="weekendHouse.rules"  rows="10" cols="20" ></textarea>
          <mat-hint *ngIf="weekendHouse.rules == ''">Required</mat-hint>
        </mat-form-field>
  
        <mat-form-field appearance="fill" style="margin-right: 2%;">
          <mat-label>Price</mat-label>
          <input matInput  name="password" id="price" name="price" [(ngModel)]="weekendHouse.price" required>
        </mat-form-field>
  
          <div>
          <mat-label style="padding-top: 20px;" for="additionalServices">List of services</mat-label>
          <mat-select name="additionalServices" [(ngModel)]="selectedServices" multiple>
            <mat-option checkboxPosition="before" *ngFor="let service of weekendHouse.additionalServices" [value]="service">
                {{ service.name }} - {{ service.price }}
            </mat-option>
          </mat-select>   
          
              <button mat-raised-button color="warn" (click)="deleteService()" [disabled]="selectedServices === null" >Delete</button>
          </div> 
          <mat-form-field appearance="fill" style="margin-right: 2%;">
              <mat-label>Add new service: </mat-label>
              <input matInput placeholder="Name of new activity" name="newServiceName" id="newServiceName" [(ngModel)]="newService.name" >
          </mat-form-field> 
  
          <mat-form-field appearance="fill" style="margin-right: 2%;">
              <mat-label>Price: </mat-label>
              <input matInput placeholder="Price of new activity" name="newServicePrice" id="newServicePrice" [(ngModel)]="newService.price" >
              <button mat-raised-button color="warn" (click)="addNewService()" [disabled]="newService.name === '' || newService.price === 0" >Add</button> 
          </mat-form-field> 
      
        <div style="margin-top: 3%;">
          <button mat-raised-button color="warn" (click)="editWeekendHouse()" [disabled]="!editForm.valid" >Edit</button>
        </div>
       </form>
    </div>

  </mat-grid-tile>
  


</mat-grid-list>

